{% extends 'children_layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}



    <div class="bg_animate">
 
      <section class="banner contenedor">
        <div class="container"> 

         

          <div class="row align-items-center">  
            <div class="col-2 ">
         
             
              <!-- Score 1
              
              
              <div class="row "> 

                <div class="col align-self-end cloud2">
                    <center>
                      <div class="bubbles">
                        <h1 style="font-size: 15pt">{{ player1 }}</h1>
                      </div><br>
                      
                  <label style="font-size: 20pt;"> puntos: {{ score1 }}</label>
                  </center>
                </div>
              </div>
              -->

              <!-- Imagen 1-->  
              <div class="row">

                <div class="banner_img">
                  <img src="{{url_for('static', filename='img/ownart/ninalapiz.png')}}" class="img-fluid" alt="Responsive image"/>
                </div>
              </div> 
          
            </div>

            <!-- Columna de enmedio -->
            <div class="col ">

              <!--- incio pregunta -->
              <div class="container box">

                <div class="row justify-content-md-center">

                  <!--- Turno -->
                  <div class="col-md-auto"> 

                    <article>
                     <h1 style="color: #1CA900"> <img src="{{url_for('static', filename='img/logoxs.png')}}" class="logo_min">                        
                          Turno de {{ player }}
                    </h1>
                      
                    </article>
                  
                  </div>    
                </div> <!--- Fin turno -->
              <div class="row justify-content-md-center"> 
                <br><br>
                <div class="col-md-auto"> <br>
                  <center><h1>Pregunta:</h1>
                  
                  {% if image == 'error' %}

                  {% else %}
                    <img src="{{url_for('static', filename='uploads/'+image)}}" width="400" height="400">
                  {% endif %}
                  
                  <article>
                      <h2 class="text">{{ question }} </h2>
                      
                  </article>

                </div> </center>
              </div><!--- Fin pregunta-->


              <!--- incio contador -->
              <div class="row justify-content-md-center">   
                <div class="col-md-auto ">
                  <div class="contador" id="temporizador">
                    10
                  </div>
                </div> 

                

              </div><!--- fin contador -->


              <!--- Boton Revelar Respuesta-->
              <!--<button onclick="revelar()" class="btn btn-warning" id="btn_revelar" value=0>Revelar respuesta</button><br> -->
              <br>
              <!--Inicio de Respuesta -->
              <div class="box">
                
               
             <center><h1>Respuesta:</h1></center>

              <div class="row justify-content-md-center">
                <div class="col-md-auto">
                  <article>
                  <h1 class="text"  id="respuesta">{{ verdadera }}</h1>
                  </article>
                </div>
              </div>
            </div>
              <br>

            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <form id="botones" class="" method="post">

                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                  <!--<p value="8" id="temp"></p> -->
                  <input type="hidden" name="temporizador" value="0" id="temp">

                  <div class="btn-group" role="group" aria-label="Basic example">
                    
                    {% if dificultad == 'Facil' %}
                      <button type="submit"  id ="respuesta" onclick="revelar()" class="btn btn-warning" name="boton" value="{{ans1}}">{{ ans1 }}</button>
                      <button type="submit"  id ="respuesta" onclick="revelar()" class="btn btn-warning" name="boton" value="{{answer}}">{{ answer }}</button>
                    {% elif dificultad == 'Medio' %}
                      <button type="submit"  id ="respuesta" onclick="revelar()" class="btn btn-warning" name="boton" value="{{ans1}}">{{ ans1 }}</button>
                      <button type="submit"  id ="respuesta" onclick="revelar()" class="btn btn-warning" name="boton" value="{{ans2}}">{{ ans2 }}</button>
                      <br>
                      <button type="submit"  id ="respuesta" onclick="revelar()" class="btn btn-warning" name="boton" value="{{answer}}">{{ answer }}</button>
                    {% else %}
                      <button type="submit"  id ="respuesta" onclick="revelar()" class="btn btn-warning" name="boton" value="{{ans1}}">{{ ans1 }}</button>
                      <button type="submit"  id ="respuesta" onclick="revelar()" class="btn btn-warning" name="boton" value="{{ans2}}">{{ ans2 }}</button>
                      <br>
                      <button type="submit"  id ="respuesta" onclick="revelar()" class="btn btn-warning" name="boton" value="{{ans3}}">{{ ans3}}</button>
                      <button type="submit"  id ="respuesta" onclick="revelar()" class="btn btn-warning" name="boton" value="{{answer}}">{{ answer }}</button>
                    {% endif %}
                  </div>
                  
                  <!-- 
                  <button onclick="correcto.play" type="submit" class="btn btn-success btn-lg" name="boton" data-value= 0 value="{{ answer }}" id="boton1">Correcto</button>

                  <button onclick="incorrecto.play" type="submit" class="btn btn-danger btn-lg" name="boton" value="btn2" id="boton2"> Incorrecto</button>
                  -->


                  <script type="text/javascript">
                    var correcto = new audio();
                    correcto.src = "correcto.mp3";
                    var incorrecto = new audio();
                    incorrecto.src = "../static/sound/incorrecto.mp3"

                  </script>
                  <br>

                </form>

                <audio id="audioMusic">
                  <source src="correcto.mp3" type="audio/mpeg">
                </audio>
              
                <script>
                  var audio = document.getElementById("audioMusic")
                  function bell(){
                    audio.play();
                  }
                </script>

              </div>
            </div>
   

            </div> <!--Fin Container-->

        </div> <!--Fin columna de enmedio-->


      <!--columna final-->
    <div class="col-2">
        
         
              <!-- Score 2
              
               
              <div class="row "> 
                <div class="col align-self-end cloud2">
                    <center>
                      <div class="bubbles">
                        <h1 style="font-size: 15pt">{{ player2 }}</h1>
                      </div><br>
                      
                  <label style="font-size: 20pt;"> puntos: {{ score2 }}</label>
                  </center>
                </div>
              </div>
              -->



              <!-- Imagen 2-->  
              <div class="row">
                <div class="banner_img">
                  <img src="{{url_for('static', filename='img/ownart/ninoglobos.png')}}" class="img-fluid" alt="Responsive image"/>
                </div>
              </div> 

    </div>

</div>

                        
                    
                      
                 
        
              
</div>
    





          


        </section>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>

        
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
          <script src="{{ url_for('static', filename='js/script.js') }}"></script>
          <script src="{{ url_for('static', filename='js/flash.min.js') }}"></script>
    </div>






{% block scripts %}
<script>
 
  
  var time = {{ time }}
 

  
  
  document.getElementById("respuesta").style.opacity = "0";
  document.getElementById("botones").style.opacity = "1";


  function revelar() {
  document.getElementById("respuesta").style.opacity = "1";
  document.getElementById("temporizador").style.opacity = "0";
  document.getElementById("botones").style.opacity = "0";
    window.FlashMessage.success('Siguiente pregunta', {
      timeout: 3000,
      container: '.flash-container',
      progress: true
  });
  }
  
  function Temporizador(id, inicio, final){
    this.id = id;
    this.inicio = inicio;
    this.final = final;
    this.contador = this.inicio;


    this.conteoSegundos = function(){
      if (this.contador == this.final){
        this.conteoSegundos = null;
       document.getElementById("respuesta").style.opacity = "1";
       document.getElementById("temporizador").style.opacity = "0";
       document.getElementById("botones").style.opacity = "1";
       document.getElementById("btn_revelar").style.opacity = "0";
       
        return;
      }

      document.getElementById(this.id).innerHTML = this.contador--;
      document.getElementById("temp").innerHTML = this.contador;
      document.getElementById("temp").value = this.contador;
      //document.getElementById("btn_revelar").value = this.contador;
      //var restante = document.getElementById("temp");
      
      //restante.dataset.value = this.contador;
      //restante.setAttribute('data-value', this.contador);

      setTimeout(this.conteoSegundos.bind(this), 1500);
    };
  }


  let temporizador = new Temporizador('temporizador', time, 0);
  temporizador.conteoSegundos();

</script>


{% endblock %}


{% endblock %}



