{% extends 'college_layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}



   
      
<div class="container mt-3"> 

  <div class="row justify-content-md-center">  
    <div class="col-2 ">
 
      <!-- Score 1-->
      
      <div class="row "> 
        <div class="col align-self-end box">
            <center>
           
                <h1 style="font-size: 15pt; color: #fff;">{{ player1 }}</h1>
        
          <label style="font-size: 20pt; color: #F2E641;"> puntos: {{ score1 }}</label>
          </center>
        </div>
      </div>

      <!-- Imagen 1-->  
      <div class="row">
        <div class="banner_img">
          <img src="{{url_for('static', filename='img/uni1.png')}}" class="img-fluid" alt="Responsive image"/>
        </div>
      </div> 
  
    </div>

    <!-- Columna de enmedio -->
    <div class="col">

      <!--- incio pregunta -->

      <div class="container box color" >

        <div class="row justify-content-md-center">
          <!--- Turno -->
          <div class="col-md-auto">
             
            <h1 style="color: #1CA900">
            {% if player == 1 %}   
              Turno de {{ player1 }}
          {% endif %}  
          {% if player == 2 %} 
              Turno de {{ player2 }}
          {% endif %}  
           </h1> 
          </div>    
        </div> <!--- Fin turno -->
         <img src="{{url_for('static', filename='img/logoxs.png')}}"  class="logo_min img-fluid" alt="Responsive image">
      <div class="row justify-content-md-center"> 
        
        <div class="col-md-auto"> 
          <center><h1 style="color: #fff">Pregunta:</h1>
          <h2 style="color: #F2E641"> {{ question }}  </h2> 
        </div> </center>
      </div><!--- Fin pregunta-->


      <!--- incio contador -->
      <div class="row justify-content-md-center">   
        <div class="col-md-auto">
          <div class="contador" id="temporizador" style="font-size: 40pt; color:#Fff">
            10
          </div>
        </div> 
      </div><!--- fin contador -->


         <!--- Boton Revelar Respuesta-->
       <button onclick="revelar()" class="btn btn-primary" id="btn_revelar">Revelar respuesta</button><br>

      <!--Inicio de Respuesta -->
    <div class="box2">
     <center><h2 style="color: #Fff">Respuesta:</h2></center>
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <h1  id="respuesta" style="color: #F2E641">{{ answer }}</h1>
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <form id="botones" class="" method="post">

          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <button type="submit" class="btn btn-success btn-lg" name="boton" value="btn1">Correcto</button>

          <button type="submit" class="btn btn-danger btn-lg" name="boton" value="btn2">
          Incorrecto</button>

        </form>


      </div>
    </div>

    
           
    </div> <!--Fin Container-->

 

</div> <!--Fin columna de enmedio-->


<!--columna final-->
<div class="col-2">

 
      <!-- Score 2-->
      
      
      <div class="row "> 
        <div class="col box">
            <center>
              
                <h1 style="font-size: 15pt; color: #fff;">{{ player2 }}</h1>
            
              
          <label style="font-size: 20pt; color: #F2E641;"> puntos: {{ score2 }}</label>
          </center>
        </div>
      </div>



      <!-- Imagen 2-->  
      <div class="row">

        <div class="banner_img">
          <img src="{{url_for('static', filename='img/uni2.png')}}" class="img-fluid" alt="Responsive image" />
        </div>
      </div> 

</div>

</div>
</section>








{% block scripts %}
<script>
var time = {{ time }};
document.getElementById("respuesta").style.opacity = "0";
document.getElementById("botones").style.opacity = "0";

function revelar() {
document.getElementById("respuesta").style.opacity = "1";
document.getElementById("temporizador").style.opacity = "0";
document.getElementById("botones").style.opacity = "1";
}

function Temporizador(id, inicio, final){
this.id = id;
this.inicio = inicio;
this.final = final;
this.contador = this.inicio;

this.conteoSegundos = function(){
if (this.contador == this.final){
this.conteoSegundos = null;
document.getElementById("respuesta").style.opacity = "1";
document.getElementById("temporizador").style.opacity = "0";
document.getElementById("botones").style.opacity = "1";
document.getElementById("btn_revelar").style.opacity = "0";
return;
}

document.getElementById(this.id).innerHTML = this.contador--;
setTimeout(this.conteoSegundos.bind(this), 1500);
};
}

let temporizador = new Temporizador('temporizador', time, 0);
temporizador.conteoSegundos();

</script>


{% endblock %}


{% endblock %}

