{% extends 'teen_layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}



 <div class="container mt-3"> 

          <div class="row justify-content-md-center">  
            <div class="col-2 ">
         
              <!-- Score 1-->
              
              <div class="row "> 
                <div class="col align-self-end box">
                    <center>
                   
                        <h1 style="font-size: 15pt; color: #258EA6;">{{ player1 }}</h1>
                
                  <label style="font-size: 20pt;"> puntos: {{ score1 }}</label>
                  </center>
                </div>
              </div>

              <!-- Imagen 1-->  
              <div class="row">
                <div class="banner_img">
                  <img src="{{url_for('static', filename='img/teen1.png')}}" class="img-fluid" alt="Responsive image"/>
                </div>
              </div> 
          
            </div>    

            <!-- Columna de enmedio -->
            <div class="col ">

              <!--- incio pregunta -->
              <div class="container box">

                <div class="row justify-content-md-center">

                  <!--- Turno -->
                  <div class="col-md-auto"> 
                    <center>
                    <img src="{{url_for('static', filename='img/logoxs.png')}}" class="logo_min">
                     <h3 style="color: #258EA6"> 
                      {{ player1 }} Tecla "S" (izquierda)<br> {{ player2 }} Tecla "L" (derecha)
                    </h3></center>
                      
                    
                  
                  </div>    
                </div> <!--- Fin turno -->
              <div class="row justify-content-md-center"> 
                <br><br>
                <div class="col-md-auto"> <br>
                  <center><h2>Pregunta:</h2>
                  


                  <article>
                      <h2 class="text" style="color:#f00">{{ question }} </h2>
                    </article>
                </div> </center>
              </div><!--- Fin pregunta-->


              <!--- incio contador -->
              <div class="row justify-content-md-center">   
                <div class="col-md-auto ">
                  <div class="contador" id="temporizador">
                    
                   10
                  
                  </div>
                </div> 

              </div><!--- fin contador -->




                  <center><h3 id="nadie">¿Nadie Respondió?</h3></center>
              <!--- Boton Revelar Respuesta-->
               <button onclick="revelar()" class="btn btn-warning" id="btn_revelar">Revelar respuesta</button><br>
              

              <!--Inicio de Respuesta -->
              <div class="box" id="respuesta">
                
               
             <center><h3>Respuesta:</h3></center>

              <div class="row justify-content-md-center">
                <div class="col-md-auto">
                  <article>
                  <h1 class="text" style="color:#f00">{{ answer }}</h1>
                  </article>
                </div>
              </div>
            </div>

            <form id="botones" class="" method="post">

                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <br>
                  <button type="submit" class="btn btn-info btn-lg" name="boton" value="btn1" id="boton1">Siguiente pregunta</button>
            </form>      

            </div> <!--Fin Container-->

        </div> <!--Fin columna de enmedio-->


     <!--columna final-->
    <div class="col-2">
        
         
              <!-- Score 2-->
              
              
              <div class="row "> 
                <div class="col box">
                    <center>
                      
                        <h1 style="font-size: 15pt; color: #258EA6;">{{ player2 }}</h1>
                    
                      
                  <label style="font-size: 20pt;"> puntos: {{ score2 }}</label>
                  </center>
                </div>
              </div>



              <!-- Imagen 2-->  
              <div class="row">

                <div class="banner_img">
                  <img src="{{url_for('static', filename='img/teen2.png')}}" class="img-fluid" alt="Responsive image" />
                </div>
              </div> 

    </div>

</div>


        </section>







{% block scripts %}
<script>
 
  
  var time = {{ time }}
document.getElementById("nadie").style.opacity = "0";
document.getElementById("botones").style.opacity = "0";  
document.getElementById("btn_revelar").style.opacity = "0";
document.getElementById("respuesta").style.opacity = "0";  
  

  function revelar() {
document.getElementById("btn_revelar").style.opacity = "0";
document.getElementById("respuesta").style.opacity = "1"; 
document.getElementById("nadie").style.opacity = "0";
document.getElementById("botones").style.opacity = "1";  
  }
  
  function Temporizador(id, inicio, final){
    this.id = id;
    this.inicio = inicio;
    this.final = final;
    this.contador = this.inicio;


    this.conteoSegundos = function(){
      if (this.contador == this.final){
        this.conteoSegundos = null;
       
       document.getElementById("temporizador").style.opacity = "0";
       document.getElementById("nadie").style.opacity = "1";
       document.getElementById("btn_revelar").style.opacity = "1";
       
        return;
      }

      document.getElementById(this.id).innerHTML = this.contador--;
      setTimeout(this.conteoSegundos.bind(this), 1500);
    };
  }


  let temporizador = new Temporizador('temporizador', time, 0);
  temporizador.conteoSegundos();





function info(elEvento){

  switch(elEvento.keyCode)
  {
    case 83: {
      alert("¡{{ player1 }} a presionado primero!"); 
      window.location.href = "{{ url_for('.answer2', player=1) }}";
      
      break;}
    case 76: {
      alert("¡{{ player2 }} a presionado primero!"); 
      window.location.href = "{{ url_for('.answer2', player=2) }}";

      break;}
   
  }

}
document.onkeydown = info;




</script>


{% endblock %}


{% endblock %}




