{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block container %}

<div class="container">
<center><h1>Lista de cuestionarios:</h1><br></center>
<div class="row">
<table class="table table-hover box_table">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col"> materia </th>
			<th scope="col"> grado </th>
			<th scope="col"> No. preguntas </th>
			<th scope="col">
				<div class="btn-group" role="group" aria-label="Basic example">
					<center><a href="{{ url_for('.new_test') }}" class="btn btn-success">Agregar Cuestionario +</a></center>
				</div>
			</th>

		</tr>
	</thead>
	<tbody>
		{% for test in tests %}
		<tr>
			{% if test_compatibles[test.id_test] == False %}
				<td><a href="{{ url_for('.get_test', test_id=test.id_test) }}" title="Cuestionario incompatible" class="incompatible">{{ test.name_test }}</a></td>
			{% else %}
				<td><a href="{{ url_for('.get_test', test_id=test.id_test) }}">{{ test.name_test }}</a></td>
			{% endif %}
			<td>{{ test.matter_test }}</td>
			<td>{{ test.grade_test }}</td>
			<td><center>{{ test.number_test }}</center></td>
			<td>
				<a href="{{ url_for('.quests', test_id=test.id_test) }}" class="btn btn-secondary">Preguntas</a>
				
				<a href="{{ url_for('.edit_test', test_id=test.id_test) }}" class="btn btn-primary">Editar</a>

				<a href="{{ url_for('.delete_test', test_id=test.id_test) }}" class="btn btn-danger">Eliminar</a>				

				{% if diccionario_id_test[test.id_test] < test.number_test %}
					<a href="{{ url_for('.finish_test', test_id=test.id_test, restantes=test.number_test-diccionario_id_test[test.id_test])}}" class="btn btn-info">Terminar cuestionario</a>	
				{% endif %}
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					Descargar
				  </button>
				  <div class="dropdown-menu">
					<a href="{{ url_for('.download_pdf', test_id=test.id_test) }}" class="dropdown-item" href="#">.pdf</a>
					<a class="dropdown-item" href="{{ url_for('.download_json', test_id=test.id_test) }}">.json</a>
					<a class="dropdown-item" href="{{ url_for('.download_test', test_id=test.id_test) }}">.txt</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Separated link</a>
				  </div>
			</td>
			<td>

			</td>
		</tr>

		{% endfor %}
	</tbody>

</table>
<nav><ul class="pagination">
	{% if pagination.has_prev %}
	<li class="page-item">
		<a href="{{ url_for('.tests', page=page-1) }}" class="page-link"> Previo </a>
	</li>
	{% endif %}

	{% if pagination.has_next %}
	<li class="page-item">
		<a href="{{ url_for('.tests', page=page+1) }}" class="page-link"> Siguiente
		</a>
	</li>

	{% endif %}

</ul></nav>
</div>
</div>

{% endblock %}