{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/mystyle.css') }}">
{% endblock %}
 
{% block title %}
 {{ title }}
 

{% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
	<div class="container">
		
		<a href="{{ url_for('.index') }}" class="navbar-left"><img src="{{url_for('static', filename='img/logo_nav.png')}}" class="logo_min"></a>



		

		<div>

			<ul class="navbar-nav ml-auto">




				<li class="nav-item  {% if active == 'select_grade' %} active {% endif %}">
				<a class="nav-link" href="{{ url_for('.index') }}">  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
  				<path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
				</svg> Index</a></li>

					<li class="nav-item {% if active == 'help' %} active {% endif %}">
						<a class="nav-link" href="{{ url_for('.help') }}">Ayuda
						</a>
					</li>


				{% if current_user.is_authenticated %}

					

					<li class="nav-item  {% if active == 'select_grade' %} active {% endif %}">
							<a class="nav-link" href="{{ url_for('.select_mode') }}">Juego Nuevo</a>
					</li>

					


						<li class="nav-item {% if active == 'tests' %} active {% endif %}">
						<a class="nav-link" href="{{ url_for('.tests') }}">Cuestionarios
						</a>
					</li>


					

					<li class="nav-item {% if active == 'new_test' %} active {% endif %}">
						<a class="nav-link" href="{{ url_for('.new_test') }}">Crear Cuestionario</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('.logout') }}">Salir</a>
					</li>
				{% else %}
					<li class="nav-item {% if active == 'register' %} active {% endif %}">
						<a class="nav-link" href="{{ url_for('.register') }}">Regístrate</a>
					</li>

					<li class="nav-item {% if active == 'login' %} active {% endif %}">
						<a class="nav-link" href="{{ url_for('.login') }}">Ingresar</a>
					</li>
				{% endif %}
				
			</ul>
		</div>
	</div>
</nav>
{% endblock %}



{% block content %}





		<div class="container">

			<div class="row">
				<div class="col-md-12 col-md-offset-1">
					

	     	 {% with messages = get_flashed_messages(with_categories=True) %}

	     	 {% if messages %}




	      	<ul class=flashes>
	        	{% for category, message in messages %}
	          	{% if category == 'error' %}
	            	<div class="alert alert-danger" role="alert">
	            	
	             	 {{ message }}
	             	
	           	 </div>
	          	{% else %}
	            	<div class="alert alert-success" role="alert">
	             	
	             	 {{ message }}
	             	
	             		
	           	 </div>
	          	{% endif %}


	          	<script>
				window.setTimeout(function() {$(".alert").fadeTo(500, 0)}, 1000);
				</script>

	       	 {% endfor %}
	     	 </ul>
	      	{% endif %}
	      	{% endwith %}

	    </div>
	    	
	









		{% block container %}



		{% endblock %}



	</div>



</div>
<!--
<footer class="footer">
	<div class="container">	
		<div class="row m-2">Seleccionar Fondo: 
			<div class="col-md-auto">
				<form>
		  			<select name="fondo" class="custom-select custom-select-sm" id="fondo" onchange="cambiarFondo(this)">
		    			<option value="1" selected>claro</option>
		    			<option value="2">oscuro</option>
		 			</select>
				</form>

			</div><button class="btn btn-light btn-sm" id="boton">ok</button>

		
	
		</div>
	</div>
</footer>

-->


<script type="text/javascript">
	function cambiarFondo(x){
		console.log(x.value);

		var body = document.getElementById("fondo2");


	}

</script>

{% endblock %}
